html, body, .container, .end-page {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

.container, .end-page {
    position: absolute;
    top: 100%;
    left: 0;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.page1 {
    background-image: url("../images/pages/1.jpg");
}
.page2 {
    background-image: url("../images/pages/2.jpg");
}
.page3 {
    background-image: url("../images/pages/3.jpg");
}
.page4 {
    background-image: url("../images/pages/4.jpg");
}
.page5 {
    background-image: url("../images/pages/5.jpg");
}
.page6 {
    background-image: url("../images/pages/6.jpg");
}
.page7 {
    background-image: url("../images/pages/7.jpg");
}
.page8 {
    background-image: url("../images/pages/8.jpg");
}
.page9 {
    background-image: url("../images/pages/9.jpg");
}
.page10 {
    background-image: url("../images/pages/10.jpg");
}
.page11 {
    background-image: url("../images/pages/11.jpg");
}
.page12 {
    background-image: url("../images/pages/12.jpg");
}
.page13 {
    background-image: url("../images/pages/13.jpg");
}
.page14 {
    background-image: url("../images/pages/14.jpg");
}
.page15 {
    background-image: url("../images/pages/15.jpg");
}
.page16 {
    background-image: url("../images/pages/16.jpg");
}
.page17 {
    background-image: url("../images/pages/17.jpg");
}
.page18 {
    background-image: url("../images/pages/18.jpg");
}
.page19 {
    background-image: url("../images/pages/19.jpg");
}
.page20 {
    background-image: url("../images/pages/20.jpg");
}
.page21 {
    background-image: url("../images/pages/21.jpg");
}
.page22 {
    background-image: url("../images/pages/22.jpg");
}
.page23 {
    background-image: url("../images/pages/23.jpg");
}
.page24 {
    background-image: url("../images/pages/24.jpg");
}
.page25 {
    background-image: url("../images/pages/25.jpg");
}
.page26 {
    background-image: url("../images/pages/26.jpg");
}

[class*=page] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.p15-pic {
    background: url("../images/p15-pic.png") no-repeat 65px center;
    background-size: 414px 91px;
    transform: translate(0, -114px);
}

.qrcode {
    width: 131px;
    height: 131px;
    transform: translateY(24px);
}

.qrcode img {
    width: 100%;
    height: 100%;
}

.container.form {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.form .wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form .content{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form .border {
    border: 4px solid #d4342f;
    box-sizing: border-box;
    height: 100%;
}

.form .title {
    flex: 0 1 55px;
    display: flex;
    flex-direction: column;
}

.form .title>div {
    font-size: 20px;
    color: #d4342f;
    text-align: center;
    font-weight: bold;
    width: 210px;
    background: #fff;
    height: 30px;
    line-height: 30px;
    flex: 0 0 30px;
}

.form .content dl{
    height: 192px;
    display: flex;
    flex-direction: column;
}

.form .content dd {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .content dd>div {
    flex: 0 0 30px;
    width: 210px;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #f2c2c0;
    overflow: hidden;
    display: flex;
}

.form .content i {
    flex: 0 0 52px;
    height: 28px;
    display: inline-block;
}

.form .store-name i {
    background: url("../images/icon-store.png") no-repeat center center;
    background-size: 23px;
    position: relative;
}

.form .store-amount i {
    background: url("../images/icon-store-amount.png") no-repeat center center;
    background-size: 22px;
    position: relative;
}

.form .user-name i {
    background: url("../images/icon-user.png") no-repeat center center;
    background-size: 21px;
    position: relative;
}

.form .mobile i {
    background: url("../images/icon-phone.png") no-repeat center center;
    background-size: 19px;
    position: relative;
}

.split-line {
    width: 1px;
    height: 21px;
    display: inline-block;
    background-color: #f2c2c0;
    position: absolute;
    right: 0;
    top: 4px;
}

.form input {
    flex: 1;
    padding: 0 14px 0 15px;
    border: none;
    font-size: 14px;
    width: 0;
}

.form .button-container {
    flex: 0 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form .button-container>div {
    text-align: center;
    background: #fff;
    padding: 4px 12px;
    width: 144px;
    height: 44px;
    flex: 0 0 44px;
}

.form .button {
    border: none;
    width: 144px;
    height: 44px;
    background-color: #d4342f;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: 20px;
    padding-left: 20px;
}

.music-control {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 20px;
    right: 15px;
}

@keyframes rotate-music-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-music-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-icon {
    width: 26px;
    height: 26px;
    display: block;
    background: url("../images/icon-music-open.png") no-repeat center;
    background-size: 26px 26px;
    animation: rotate-music-icon 5s linear;
    -webkit-animation: rotate-music-icon 5s linear;
    animation-iteration-count: 9999;
    -webkit-animation-iteration-count: 9999;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.music-icon.stop {
    background: url("../images/icon-music-close.png") no-repeat center;
    background-size: 26px 26px;
    animation: none;
    -webkit-animation: none;
}

.absolute-center.text {
    width: 226px;
    height: 38px;
    background: url("../images/p15-text.png") no-repeat center;
    background-size: 226px 38px;
    transform: translateY(130px);
}

.logo {
    position: absolute;
    bottom: 8px;
    width: 41px;
    height: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: url("../images/p15-logo.png") no-repeat center;
    background-size: 41px 15px;
}

.index {
    top: 0;
}
.index .content{
    position: absolute;
    bottom: 116px;
    width: 100%;
    height: 92px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    text-align: right;
}
.index .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.index .bg li{
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.index .bg .li03{
    border-bottom: none;
}
.index ul{
    list-style: none;
}
.index .store-list{
    position: relative;
    height: 62px;
    overflow: hidden;
}
.index .store-list .list{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.index .store-list li{
    height: 31px;
    line-height: 31px;
    padding: 0 40px;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
}
.index .store-list li.active{
    color: rgba(255,255,255,0.8);
}
.index .total{
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0 40px;
}
.index .total span{
    font-size: 15px;
    font-weight: bold;
    padding: 0 3px;
}