#getPointModal *{
    box-sizing: content-box;
}
#getPointModal .modal-dialog{
    width: 950px;
}
.point-wrap{
    width: 912px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
}
.ui-autocomplete{
    z-index: 1050;
}
.point-wrap input[type='text']{
    padding: 0 3px;
    height: 26px;
}
.point-head{
    padding: 0 0 10px 0;
}
#search_t{
    width: 200px;
}
#btn_search{
    margin-right: 30px;
}
#addr_cur{
    width: 400px;
}
.point-content {
    height: 553px;
    width: 912px;
    margin: 0px auto;
    border: 1px solid #5688CB;
    border-top: 0px;
}

#tooles {
    height: 23px;
    background: #5688CB;
    position: relative;
    z-index: 100;
    color:white;
}

#bside_left {
    width: 260px;
    height: 510px;
    padding: 10px 0px 10px 10px;
    float: left;
    overflow: auto;
}

#cur_city, #no_value {
    height: 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

#cur_city .change_city {
    margin-left: 5px;
    cursor: pointer;
}

#level {
    margin-left: 20px;
}


.logo_img {
    width: 172px;
    height: 23px;
}

.poi {
    width: 570px;
    height: 41px;
    padding-top: 12px;
    float: left;
    position: relative;
}

.poi_note {
    width: 63px;
    line-height: 26px;
    float: left;
}

.btn_copy {
    width: 49px;
    height: 24px;
    float: left;
}

.already {
    width: 52px;
    line-height: 26px;
    padding-left: 5px;
    float: left;
    color: red;
    display: none;
}

.info_list {
    margin-bottom: 5px;
    cleat: both;
    cursor: pointer;
}

#city {
    width: 356px;
    height: 433px;
    padding: 10px;
    border: 2px solid #D6D6D6;
    position: absolute;
    left: 44px;
    top: 20px;
    z-index: 999;
    background: #fff;
    overflow: auto;
    color: black;
}

#city .city_class {
    font-size: 12px;
    background: #fff;
}

#city .city_container {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

#city .city_container_left {
    width: 48px;
    float: left;
}

#city .city_container_right {
    width: 289px;
    float: left;
}

#city .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

#city .city_name {
    line-height: 20px;
    margin-left: 5px;
    color: #2F82C4;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}

#curCity {
    margin-right: 5px;
}

.dn {
    display: none;
}

#bside_rgiht {
    width: 631px;
    height: 530px;
    margin-left: 10px;
    border-left: 1px solid #5688CB;
    float: left;
    font-size: 12px;
}

#container {
    width: 621px;
    height: 520px;
    border: 5px solid #fff;
}

#no_value{
    color:red;
    position: relative;
    width:200px;
}